QC/validation/xml_template.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT TEXT (AUDIO*, S*)>
<!ATTLIST TEXT
    id CDATA #REQUIRED
    citation CDATA #REQUIRED
    BibTeX_citation CDATA #REQUIRED
    copyright CDATA #REQUIRED
    xml:lang CDATA #REQUIRED
    source CDATA #IMPLIED
    audio CDATA #IMPLIED
    glottocode CDATA #IMPLIED
    dialect CDATA #IMPLIED>

<!ELEMENT S (FORM, FORM?, TRANSL*, PHON*, AUDIO?, W*)>
<!ATTLIST S
    id CDATA #REQUIRED
    audio_url CDATA #IMPLIED
    source CDATA #IMPLIED>

<!ELEMENT W (FORM, AUDIO?, TRANSL*, PHON*, M*)>
<!ATTLIST W
    id CDATA #REQUIRED
    class CDATA #IMPLIED
    sclass CDATA #IMPLIED>

<!ELEMENT M (FORM, TRANSL*, PHON*, AUDIO?)>
<!ATTLIST M
    id CDATA #REQUIRED
    class CDATA #IMPLIED
    sclass CDATA #IMPLIED>

<!ELEMENT FORM (#PCDATA | UNCLEAR)*>
<!ATTLIST FORM
    kindOf CDATA #REQUIRED
    notes CDATA #IMPLIED>

<!ELEMENT TRANSL (#PCDATA | UNCLEAR)*>
<!ATTLIST TRANSL
    xml:lang CDATA #REQUIRED
    kindOf CDATA #IMPLIED
    ver CDATA #IMPLIED
    notes CDATA #IMPLIED>

<!ELEMENT PHON (#PCDATA | UNCLEAR)*>
<!ATTLIST PHON
    kindOf CDATA #IMPLIED>

<!ELEMENT UNCLEAR EMPTY>

<!ELEMENT AUDIO EMPTY>
<!ATTLIST AUDIO
    start CDATA #IMPLIED
    end CDATA #IMPLIED
    file CDATA #IMPLIED
    url CDATA #IMPLIED
    source CDATA #IMPLIED>

